:root {
    --col-width-size: 25%;
}

.column {
    float: left;
    width: var(--col-width-size)
}

.col-drinks {
    background-color: #FFB695;
}

.col-snacks {
    background-color: #00AA95;
}

.col-desserts {
    background-color: #AAAA95;
}

.row {
    display: left;
    
}

img {
    width: 70%;
    padding: 15%;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart {
    background-color: #f4b8f9;
}